# ch6: Sets

# group of homogenous, unsorted, unique elements

In [1]:
A = set(['red','green','blue','white','red'])
print(A)

{'red', 'blue', 'green', 'white'}

In [2]:
type(A)

set

In [3]:
len(A)

4

In [4]:
B = set(['grey','blue','pink','yellow','green'])
print(B)

{'yellow', 'grey', 'pink', 'blue', 'green'}

In [5]:
# common operations on a set
# 1) union
A.union(B)

{'blue', 'green', 'grey', 'pink', 'red', 'white', 'yellow'}

# same as B union A

In [6]:
# 2) intersection
A.intersection(B)

{'blue', 'green'}

In [7]:
# 3) difference
# A-B: all elements of A not present in B
A.difference(B)
A-B

{'red', 'white'}

In [8]:
# B-A : all elements of B not present in A
B.difference(A)
B-A

{'grey', 'pink', 'yellow'}

In [9]:
# 4) symmetric difference: elements are present in any one set, but not in both
A.symmetric_difference(B)

{'grey', 'pink', 'red', 'white', 'yellow'}

In [10]:
# how to make a list unique

# create a list with some duplicates
mylist=['apple','computer','mouse','apple',
        'program','python','python','python',
        'india','cricket','cricket']

mylist.sort()
print(mylist)

['apple', 'apple', 'computer', 'cricket', 'cricket', 'india', 'mouse', 'program', 'python', 'python', 'python']

In [11]:
len(mylist)

11

In [12]:

# convert the list into a set and then reconvert set into a list

mylist = list(set(mylist))
mylist.sort()
mylist

['apple', 'computer', 'cricket', 'india', 'mouse', 'program', 'python']

In [13]:
len(mylist)

7